/* @charset "UTF-8";
/* CSS Document */


/* expletus-sans-regular - latin */
@font-face {
	font-family: 'Expletus Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Expletus Sans'),
		 url('./fonts/expletus-sans-v24-latin-regular.woff') format('woff'); /* Modern Browsers */

  }

.specialFont{
	font-family: "Expletus Sans" , Arial, Helvetica, sans-serif;
}
.departmentName {
    font-size: 1.5vw;
}

.logo{
	width: 7rem;
}

.icon{
	width: 4em;
}

  .planets {
    width:80%;
    height: 230px;
}

.socials {
    width:20%;
    height: 230px;
}

.bolder {
	font-size: 20px;
	font-weight: bold;
}